.profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.profile-card .title {
    color: grey;
    font-size: 18px;
}

.profile-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.profile-card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card {
    width: 20%;
    margin: 2.5%;
    box-sizing: border-box;
    float: left;
    text-decoration: none;
    transition: .3s;
}

@media only screen and (max-width: 1200px) {
    .card {
        width: 30%;
        margin: 1.5%;
    }
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 42%;
        margin: 3.8%;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
        margin: 0 0 20px;
    }
}

.election-card {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.election-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 20px 20px 0;
}

.election-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.eleciton-details {
    padding: 20px;
}

.election-creator {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.eleciton-details p {
    font-size: 15px;
    line-height: 22px;
    color: #999;
    display: block;
}

.election-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

/* temp */
.election-detail-fixed-card {
    position: fixed;
    top: 16vh;
}

@media only screen and (max-width: 1100px){
    .election-detail-fixed-card {
        position: static;
    }
}
